<!DOCTYPE html>
{% import "macros.html" as m %}
<html lang="en">
	<body id="container">
   		<div id="header">
   			{% block head %}
				<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
				<meta charset="UTF-8">
				<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
				<!-- jQuery -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
				<!-- Semantic Main CSS -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
				<!-- Semantic Reset CSS -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/reset.min.css"/>
				<!-- Semantic Menu CSS -->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/menu.min.css"/>
				<!-- Main Semantic JS  -->
			    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
				<!-- Custom CSS -->
				<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
				<!-- Browser tab name -->
				<title>{{ title }}</title>
				<!-- Navbar -->
				<div class="ui attached inverted menu">
				  	{{ m.nav_link('index', 'Home') }}
				  	{{ m.nav_link('map', 'Map') }}
					{{ m.nav_link('contact', 'Contact') }}
				 	<div class="right menu">
				 		<!-- User is logged in -->
				      	{% if current_user.is_authenticated %}
				      		<div class="item">
				        		<a class="ui primary button" href="/user/account">{{ current_user.full_name }}</a>
				    		</div>
				    		<div class="item">
				        		<a class="ui default button" href="/user/signout">Sign out</a>
				    		</div>
			          	<!-- User is not logged in -->
			          	{% else %}
			          		<div class="item">
				        		<a class="ui primary button" href="/user/signin">Sign in</a>
				    		</div>
				    		<div class="item">
				        		<a class="ui default button" href="/user/signup">Sign up</a>
				    		</div>
						{% endif %}
			  		</div>
				</div>
			{% endblock %}
   		</div>
   		<!-- Message flashing -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		  	{% if messages %}
		    	<ul>
		    		{% for category, message in messages %}
		      			<li class="ui {{ category }} message flash">{{ message }}</li>
		    		{% endfor %}
		    	</ul>
		  	{% endif %}
		{% endwith %}
   		<div id="body" class="body">
   			{% block content %}{% endblock %}
   		</div>
		<div id="footer">
			<div class="ui divider"></div>
	    		<div class="ui divided horizontal footer link list">
			      	<div class="item">
			        	Max Halford
			      	</div>
			      	<div class="item">
			        	<a href="https://github.com/MaxHalford"><i class="github icon"></i></a>
			      	</div>
	    		</div>
	  		</div>
		</div>
	</body>
</html>
